<div class="container">
  <form
    (ngSubmit)="formsData.id ? updateStudent() : createStudent()"
    class="student-form"
  >
    <input
      [(ngModel)]="formsData.name"
      name="name"
      placeholder="Name"
      required
      class="input-field"
    />
    <input
      [(ngModel)]="formsData.grade"
      name="grade"
      placeholder="Grade"
      required
      class="input-field"
      type="number"
    />
    <input
      [(ngModel)]="formsData.age"
      name="age"
      placeholder="Age"
      type="number"
      required
      class="input-field"
    />
    <button class="primary-button" type="submit">
      {{ formsData.id ? "Update" : "Add" }} Student
    </button>
  </form>

  <table class="custom-table" *ngIf="students.length > 0; else noData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <td>{{ s.name }}</td>
        <td>{{ s.grade }}</td>
        <td>{{ s.age }}</td>
        <td>
          <button class="btn edit" (click)="editStudent(s)">Edit</button>

          <button class="btn delete" (click)="deleteStudent(s.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <p style="text-align: center; margin-top: 20px">No students found.</p>
  </ng-template>
</div>
